<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mlbbstalk">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lgg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MLBBStalk">
        <activity android:name=".review.ReviewActivity"></activity>
        <activity android:name=".Detail.DetailHeroActivity" />
        <activity android:name=".Home.RoleActivity" />
        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>